<div class="container">
  <% if @article.errors.any? %>
    <h2>the following errors prevented the article from being saved</h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg%></li>
      <% end %>
    </ul>
  <% end %>
  <% if @article.errors.any? %>
    <%# Your existing code for displaying errors %>
  <% else %>
    <p>No errors found.</p>
  <% end %>
  <%# POST article_path(article)=>update %>
  <div class="row justify-content-center ">
    <div class="col-10">
      <%= form_with(model: @article ,class:"shadow-lg p-3 mb-5 bg-body-tertiary rounded",local:true) do |f| %>
        <div class="row mb-3">
          <%= f.label :title,class:"form-label col-2" %>
          <div class="col-10">
            <%= f.text_field :title,class:"form-control shadow rounded",placeholder:"Title of article" %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :description,class:"form-label col-2"%>
          <div class="col-10">
            <%= f.text_area :description,rows:10 ,class:"form-control shadow rounded",placeholder:"Description of article" %>
          </div>
        </div>
        <div class="row justify-content-center mb-3">
          <%= f.submit class:"col-5 btn btn-secondary btn-lg" %>
        </div>
      <% end %>
      <div class="row justify-content-center ">
        <%= link_to 'Return to articles listing', articles_path, class:"text-center" %>
      </div>
    </div>
  </div>
</div>