<h1>Articles listing page</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Descrition</th>
      <th colspan="3" >Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <%# 出於安全考慮，使用link_towith進行刪除操作可能無法如預期運作。 %>
        <td>
          <%= button_to 'Delete', article_path(article), method: :delete, onclick: "return confirm('Are you sure you want to delete this article?')" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Create new article", new_article_path %>
</p>