<%= render "shared/errors", obj:@category %>
<%= form_with(model: @category ,class:"shadow-lg p-3 mb-5 bg-body-tertiary rounded",local:true) do |f| %>
  <div class="row mb-3">
    <%= f.label :name,class:"form-label col-2" %>
    <div class="col-10">
      <%= f.text_field :name,class:"form-control shadow rounded",placeholder:"enter a name" %>
    </div>
  </div>
  <div class="row justify-content-center mt-4 mb-3">
    <%= f.submit class: "col-5 btn btn-secondary btn-lg" %>
  </div>
<% end %>